.shop-container{
    display: flex;
    width: 1440px;
    margin: 0 auto;
}
.shop-container {
    padding: 0px;
}
.shop-container  {
    list-style: none;
    /* border-bottom: 2px solid #ddd; */

}
.shop-container .product-container{
    width: 80%;
    padding-right: 10px;

}
.shop-container .cart-container{
    width: 20%;
    border-left: 1px solid #ddd;
    padding: 20px;
}
/*  */